<!doctype html>
<html data-ng-app='app'>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> | RB Associates</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>

    <script type="text/javascript">
      window.propertyPages = <%= property_pages_to_json %>
    </script>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.page_class %>">

    <%= partial 'layouts/partials/nav' %>

    <%= yield %>

    <% unless current_page.data.hide_footer %>
      <%= partial 'layouts/footer' %>
    <% end %>

    <script async='' defer='' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9-4M7H2WjoY7_mKB7SvqIkhjAWsar8gg"></script>
    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
